<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../assets/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/view.css"/>
    <link rel="icon" href="/favicon.ico">
    <script src="../../assets/layui.js"></script>
    <title>管理后台</title>
</head>
<body class="layui-view-body">
    <form id="listFrom" method="post" action="/user/list" th:object="${userForm}">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="form-box">
                        <div class="layui-form layui-form-item">
                            <div class="layui-inline">
                                <div class="layui-form-mid">账户名称:</div>
                                <div class="layui-input-inline" style="width: 100px;">
                                  <input id="name" type="text" th:field="*{userName}" autocomplete="off" class="layui-input">
                                </div>
                                <button onclick="search();" class="layui-btn layui-btn-blue">查询</button>
                                <button th:if="*{isAdd == true}" type="button" class="layui-btn" onclick="toAdd()">
                                    <i class="layui-icon">&#xe608;</i> 添加
                                </button>
                            </div>
                        </div>
					  <table class="layui-table">
						<colgroup>
						  <col width="200">
						  <col width="200">
						  <col width="200">
						  <col width="200">
						  <col width="70">
						</colgroup>
						<thead>
						  <tr>
							<th>标识id</th>
							<th>账户名称</th>
							<th>状态</th>
							<th>创建时间</th>
							<th>操作</th>
						  </tr> 
						</thead>
						<tbody id="tablebody">
                            <tr th:each="data: *{datas}">
                                <td th:text="${data.userId}">data.userId</td>
                                <td th:text="${data.userName}">data.userName</td>
                                <td>未注销</td>
                                <td th:text="${#dates.format(data.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td>
                                    <a th:if="*{isUpdate == true}" th:href="${'javascript:toUpdate('''+data.userId+''')'}" class="layui-btn layui-btn-xs">编辑</a>
                                    <a th:if="*{isDelete == true}" th:href="${'javascript:deleteUser('''+data.userId+''')'}" class="layui-btn layui-btn-danger layui-btn-xs">删除</a>
                                </td>
                            </tr>
						</tbody>
					  </table>
                        <div th:include="assembly/page.html"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="userId" th:field="*{userId}"/>
    <input type="hidden" id="operationType" th:field="*{operationType}"/>
    <script>

        /**
         * 跳转到添加页
         */
        function toAdd() {
            var $ = layui.$;
            listFrom.action = "/user/edit";
            $("#operationType").val([[*{OPERATION_TOADD_TYPE}]]);
            listFrom.submit();
        }

        /**
         * 跳转到修改页
         * @param userId
         */
        function toUpdate(userId) {
            var $ = layui.$;
            listFrom.action = "/user/edit";
            $("#userId").val(userId);
            $("#operationType").val([[*{OPERATION_TOUPDATE_TYPE}]]);
            listFrom.submit();
        }

        // 搜索数据分页索引改成1
        function search() {
            goPageNo(1);
            listFrom.submit();
        }

        // 删除一个用户
        function deleteUser(userId) {
            var $ = layui.$;
            listFrom.action = "/user/delete";
            $("#userId").val(userId);
            listFrom.submit();
        }
    </script>
    </form>
</body>
</html>