<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../assets/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/view.css"/>
    <link rel="icon" href="/favicon.ico">
    <title>管理后台</title>
</head>
<body class="layui-view-body">
<form class="layui-form" id="listFrom" method="post" action="/user/edit" th:object="${userForm}">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div>
                    <div th:include="assembly/message.html"></div>
                </div>
                <div class="layui-card-body">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend th:if="*{operationType==OPERATION_ADD_TYPE}">添加用户</legend>
                        <legend th:if="*{operationType==OPERATION_UPDATE_TYPE}">编辑用户</legend>
                    </fieldset>
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input type="text" th:if="*{operationType==OPERATION_ADD_TYPE}"  th:field="*{userName}" name="userName" id="userName" lay-verify="title" autocomplete="off" placeholder="请输入用户名" class="layui-input">
                            <input type="text" th:if="*{operationType==OPERATION_UPDATE_TYPE}" readonly = “readonly  th:field="*{userName}" name="userName" id="userName" lay-verify="title" autocomplete="off" placeholder="请输入用户名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户密码</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{userPass}" name="userPass" id="userPass" lay-verify="title" autocomplete="off" placeholder="请输入用户密码" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">重复密码</label>
                        <div class="layui-input-block">
                            <input type="text" th:field="*{userRepeatPass}" name="userRepeatPass" id="userRepeatPass" lay-verify="title" autocomplete="off" placeholder="重新输入用户密码" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <span th:if="*{operationType==OPERATION_ADD_TYPE}"><button class="layui-btn">添加</button></span>
                            <span th:if="*{operationType==OPERATION_UPDATE_TYPE}"><button class="layui-btn">修改</button></span>
                            <span><button type="reset" class="layui-btn layui-btn-primary">重置</button></span>
                            <span><button type="button" onclick="location='/user/list'" class="layui-btn layui-btn-primary">返回</button></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="operationType" th:field="*{operationType}"/>
    <input type="hidden" id="userId" th:field="*{userId}"/>
    <script src="../../assets/layui.js"></script>
</form>
</body>
</html>