<input type="hidden" id="pageNo" th:field="*{pageNo}"/>
<div id="pageInfo">

</div>
<script type="text/javascript">
    layui.use(['laypage', 'layer'], function(){
        var laypage = layui.laypage
            ,layer = layui.layer;
        //完整功能
        laypage.render({
            elem: 'pageInfo'
            ,curr: [[*{pageNo}]]
            ,limit: [[*{pageSize}]]
            ,count: [[*{dataCount}]]
            ,layout: ['count', 'prev', 'page', 'next', 'skip']
            ,jump: function(obj){
                var $ = layui.$;
                var index = obj.curr;
                if (index != [[*{pageNo}]]) {
                    var pageNo = $("#pageNo").val(index);
                    listFrom.submit();
                }
            }
        });
    });
    function goPageNo(index) {
        var $ = layui.$;
        $("#pageNo").val(1);
    }
</script>
</div>