<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/css/layui.css">
    <link rel="stylesheet" href="/assets/css/login.css"/>
    <link rel="icon" href="/favicon.ico">
    <script src="/assets/layui.js"></script>
    <title>后台登录</title>
</head>
<body class="login-wrap">
    <div class="login-container">
        <form class="login-form" id="loginFrom" method="post" th:action="@{/authentication/form}">
            <div class="input-group" style="text-align: center; font-weight: bold;">
                    <span class="label-title layui-text">后台登录</span>
            </div>
            <div class="input-group">
                <input type="text" id="username" name="username" class="input-field" >
                <label for="username" class="input-label">
                    <span class="label-title">用户名</span>
                </label>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" class="input-field">
                <label for="password" class="input-label">
                    <span class="label-title">密码</span>
                </label>
            </div>
            <button type="submit" class="login-button">登录<i class="ai ai-enter"></i></button>
        </form>
    </div>
</body>
</html>